@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

@font-face {
    font-family: 'DinMedium';
    src: url('/fonts/DINMedium.ttf') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ url('/fonts/DINMedium.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
    font-family: 'SameSameButDifferent';
    src: url('/fonts/SameSameButDifferent.ttf') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ url('/fonts/SameSameButDifferent.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
    font-family: 'TitilliumText22L001';
    src: url('/fonts/TitilliumText22L001.otf') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ url('/fonts/TitilliumText22L001.otf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.app-title {
    text-align: center;
}

#body {
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
}

input[type=text] {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
}

input[type=text]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}

.inputWithIcon input[type=text] {
    padding-left: 40px;
}

.inputWithIcon {
    position: relative;
}

.inputWithIcon i {
    position: absolute;
    left: 0;
    top: 8px;
    padding: 9px 8px;
    color: #aaa;
    transition: .3s;
}

.inputWithIcon input[type=text]:focus + i {
    color: dodgerBlue;
}

.inputWithIcon.inputIconBg i {
    background-color: #aaa;
    color: #fff;
    padding: 9px 4px;
    border-radius: 4px 0 0 4px;
}

.inputWithIcon.inputIconBg input[type=text]:focus + i {
    color: #fff;
    background-color: dodgerBlue;
}

#searchSong::-webkit-input-placeholder {
    font-family: Arial, Helvetica, sans-serif;
}

#searchSong:-ms-input-placeholder {
    font-family: Arial, Helvetica, sans-serif;
}

#searchSong:-moz-placeholder {
    font-family: Arial, Helvetica, sans-serif;
}

#searchSong::-moz-placeholder {
    font-family: Arial, Helvetica, sans-serif;
}

.mediumFont {
    font-family: 'DinMedium', Helvetica, sans-serif;
}

.app-title {
    font-family: 'SameSameButDifferent', Helvetica, sans-serif;
}

.titilliumFont {
    font-family: 'TitilliumText22L001', Helvetica, sans-serif;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.footerA {
    color: white;
}